@model FinalProject.Models.TradeOffer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TradeOffer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TradeListingOneId" class="control-label"></label>
                <select asp-for="TradeListingOneId" class="form-control" asp-items="ViewBag.TradeListingOneId"></select>
                <span asp-validation-for="TradeListingOneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TradeListingTwoId" class="control-label"></label>
                <select asp-for="TradeListingTwoId" class="form-control" asp-items="ViewBag.TradeListingTwoId"></select>
                <span asp-validation-for="TradeListingTwoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TradeState" class="control-label"></label>
                <select asp-for="TradeState" class="form-control"></select>
                <span asp-validation-for="TradeState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TradeListingOneRating" class="control-label"></label>
                <input asp-for="TradeListingOneRating" class="form-control" />
                <span asp-validation-for="TradeListingOneRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TradeListingTwoRating" class="control-label"></label>
                <input asp-for="TradeListingTwoRating" class="form-control" />
                <span asp-validation-for="TradeListingTwoRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
