@model FinalProject.Models.Deck

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Deck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserInventoryId" class="control-label"></label>
                <select asp-for="UserInventoryId" class="form-control" asp-items="ViewBag.UserInventoryId"></select>
                <span asp-validation-for="UserInventoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeckName" class="control-label"></label>
                <input asp-for="DeckName" class="form-control" />
                <span asp-validation-for="DeckName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeckImage" class="control-label"></label>
                <input asp-for="DeckImage" class="form-control" />
                <span asp-validation-for="DeckImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageBytes" class="control-label"></label>
                <input asp-for="ImageBytes" class="form-control" />
                <span asp-validation-for="ImageBytes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
